table {
    border-collapse: collapse;
    width: 100%;
    color: #337AB7;
    text-align: left;
    padding: 10px;
}

th {
    background-color: #337AB7;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    padding: 5px 10px; /* Adjusted padding for top/bottom and left/right */
}

tr:nth-child(even) {
    background-color: #B1C9E0;
    color: white;
    text-align: left;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 630px;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}